.btn {
    width: 160px;
    border: 1px solid whitesmoke;
    padding: 10px 0px;
    margin: 20px 10px;
    margin-left: 0px;
    color: whitesmoke;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.clear {
    background: indianred;
}